:root{
    --main-color: #c93429;
   --body-bg: #ffffff;
   --second-bg: #f5f5f5;
   --text-color: #000000;
   --main-hover: #9b2d25;

   --section-space: 100px;
   --nav-size: 70px;
   --logo-size: 90px;
   --banner-height: 400px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Helvetica Neue W01_79 C1289709';
}

/* HEADER */
header{
    padding-top: 70px;
    overflow-x: hidden;
    font-family: "Antonio", sans-serif;
    font-size: 16px;
}
a {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
}

.main-color {
    color: #c93429;
}

.text-gray {
    color: #ffffff;
}

.container-fluid {
    padding: 0 30px;
}

.nav-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: #000000;
}

.nav {
    position: relative;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo img {
    height: 150px;
    padding-bottom: 70px; 
}

.nav-menu {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav-menu li ~ li {
    margin-left: 70px;
}

.nav-menu li a {
    font-size: 1.25rem;
    text-transform: uppercase;
}

.nav-menu li a:hover {
    color: #c93429;
}

.menu-main {
    position: absolute;
    left: 0;
    width: 100%;
    justify-content: center;
    height: 70px;
    pointer-events: none;
}

.menu-main li a {
    pointer-events: visible;
} 
/* END HEADER */

/* START PROD SECTION */
.path{
    display: block;
    margin-left: 1%;
}
.path a{
    color: #760b50;
    height: 25px;
    font-size: 16px;
}
.path a:hover{
    color: #c56193;
}
/* Image section */
.makeup-desc{
    display: block;
}
.product-img{
    height: 450px;
    margin: 2% 0%;
    background-color: gray;
}
.product-img img{
    height: 100%;
    width: 100%;
}
/* Description Section*/
.product-desc{
    height: 450px;
    margin: 0;
    padding: 5%;
}
.product-desc a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: black;
}
.product-desc a:hover{
    color:#c56193 ;
}
.product-desc p{
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
}
.product-desc h6{
    font-size: 12px;
    line-height: 0;
}
.star-review{
    margin-left: 3%;
}
.star-review p{
    font-size: 12px;
    font-weight: 250;
    margin-left: 3%;
}
.star-review img{
    width: 30px;    
}
.product-desc button{
  color: white;
  padding: 20px 10%;
  text-align: center;
  font-size: 28px;
  border: none;
  background-color: #760b50;
  display: none;    
}
.product-desc button:hover{
    background-color: #c56193;
}
.product-desc b{
    float: right;
    font-size: 34px;
    font-weight: 600;
    padding: 10px 4%;
    color: #760b50;
}
/* END PRODUCT AREA */

/* FOOTER */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

footer{
    width: 100%;
    height: 530px;
    padding: 50px 30px;
    background-image: url(../Images/background-footer.svg);
    background-size: cover;
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
}
 .container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 950px;
    margin: auto;
    margin-top:70px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 0px;
}
.box__footer .logo img{
    width: 180px;
    height: 55px;
    margin-bottom: 15px;
}

.box__footer .terms{
    max-width: 350px;
    font-weight: 500;
    font-size: 14px;
}

.box__footer h2{
    margin-bottom: 13px;
    font-weight: 500;
}

.box__footer a{
    margin-top: 5px;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

.box__footer a:hover{
    opacity: 0.8;
    color: pink;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 10px;
}

.box__copyright p{
    margin-top: 0px;
}

.box__copyright hr{
    border: none;
    opacity: 1;
    height: 1px;
    background-color: pink;
}
.pink{
    font-size: 17px;
    font-weight: 500;
    color: pink;
}
/* END FOOTER */