* {
    margin: 0;
    padding: 0;
  }
  
  img {
    max-width: 100%;
    display: block;
  }
  
  .cart-btn {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }
  
  #cart {
    position: relative;
    font-size: 2rem;
    cursor: pointer;
    margin: 1em 4em 0 0;
  }
  
  .cart-quantity {
    color: white;
    background-color: red;
    padding: .1em .2em;
    position: absolute;
    margin: .2em 8.0em 0 0;
    right: 0;
    border: solid 1px red;
    border-radius: 55px;
    font-size:20px;
    font-weight: x-small;
  }
  
  .items-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin-top: 1em
  }
  
  .card {
  /*   width: 15rem; */
    margin: 1em;
    position: relative;
    overflow: hidden; 
    text-align: center
  }
  
  .card:hover .add-to-cart {
    transform: translateX(0);
  }
  
  .product-image {
    margin-bottom: 1em
  }

  
  .product-price {
    padding-top: 1em;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .cart-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 2;
    transform: translateX(-200%);
    transition: .5s ease-out;
    
  }
  
  .cart-modal {
    height: 100vh;
    width: 30%;
    background-color: rgb(4, 3, 3);
    float: right;
    overflow: scroll;
    overflow-x: hidden;
  }
  
  #close-btn {
    font-size: 1.5rem;
    float: right;
    margin: .5em 2em 0 0;
    color: white;
    cursor: pointer;
  }
  
  .cart-is-empty {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1em;
    display: none;
    
  }
  
  .total {
    text-align: center;
    margin: 2em 0 2em 0;
  /*   display: none; */
  }
  
  .cart-total {
    color: white;
    position: relative;
    left:-150px;
    font-family: 'Neue Helvetica W01_79 C1289709';
    font-size: 22px;
  }
  
  .total-price {
    color: white;
    font-size: 1.5rem;
    position: relative;
    display: block;
    left:180px;
    top:-30px;
    font-family: 'Neue Helvetica W01_79 C1289709';
    font-size: 25px;
  }
  
  .purchase-btn {
    font-size: 1rem;
    font-weight: bolder;
    background-color:#760b50;
    font-family:'Neue Helvetica W01_79 C1289709';
    position: relative;
    left:-170px;
    color: white;
    padding: 1em 2em;
    position: relative;
    left: -130px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 2em 0 1em 0;
    width:150%;
  }
  
  .product-rows {
    margin-top: 0em;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    
  }
  
  .product-row {
    display: flex;
    align-items: center;
    padding-top: 30px;
  }
  
  .cart-image {
    width: 7rem;
    margin: 1em;
  }
  
  .cart-price {
    color: white;
    font-size: 1.2rem;
    font-weight: bolder;
    margin-left: 80px;
    margin-top: -100px;
    font-family: 'Neue Helvetica W01_79 C1289709';
  }
  
  .cart-product {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Neue Helvetica W01_79 C1289709';
    position: relative;
    left:30px;
    top:-30px;
    clear: both;
    display: inline-block;
  }
  .product-quantity {
    width: 4rem;
    font-size: 1.2rem;
    border-radius: 8px;
    margin-left: -50px;
  }
  
  .remove-btn {
    padding: 1em 1em;
    background-color: red;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    margin-left: -100px;
    margin-top: 100px;
    font-weight: bolder;
    font-size: 1rem;
    font-family: 'Neue Helvetica W01_79 C1289709';
    border-radius: 10px;
  }
  
  .remove-btn:active {
    transform: translateY(5px);
  }
  
  @media (max-width: 1000px){
    .cart-modal {
      width: 100vw;
    } 
    
    .product-row {
      flex-direction: column;
      text-align: center;
      margin-bottom: 2em;
    }
    
    .remove-btn {
      margin: 0
    }
    
    .product-quantity {
      margin: .5em 0 .5em 0
    }
  }