@media screen and (min-width: 400px) and (max-width:800px) {
    #cart{
      position: absolute;
      right:0;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .text{
      position: relative;
      left:-80px;
   
    }
  }
@media (min-width: 240px) and (max-width: 319px) {
    .add-to-cart{
        width:50px;
       }
  
}

@media (min-width: 320px) and (max-width: 374px) {
    .add-to-cart{
        width:100px;
       }
 
}

@media (min-width: 375px) and (max-width: 479px) {
    .add-to-cart{
        width:200px;
       }
}

@media (min-width: 480px) and (max-width: 639px) {
    .add-to-cart{
        width:200px;
       }
}

@media (min-width: 640px) and (max-width: 767px) {
    .add-to-cart{
        width:250px;
       }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .add-to-cart{
        width:200px;
       }
 }
    
@media (min-width: 1024px) and (max-width: 1280px) {
    .add-to-cart{
        width:250px;
       }
    
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .add-to-cart{
        width:250px;
       }
   
}

@media (min-width: 1280px) and (max-width: 1589px) {
    .add-to-cart{
        width:250px;
       }
    
}

@media (min-width: 1680px) and (max-width: 1920px) {
    .add-to-cart{
        width:350px;
       }
   
}
